@model IEnumerable<Article>
@{
    ViewData["Title"] = "Articles";
}

<h1>Articles</h1>

<table class="table mt-3">
    <tr>
        <th>Id</th>
        <th>Title</th>
    </tr>
    @foreach (var article in Model)
    {
        <tr>
            <td>@article.ArticleId</td>
            <td>@article.ArticleTitle</td>
        </tr>
    }
</table>