@model Asp.netCoreMVCIntro.Models.Tutorial
@{
    ViewBag.Title = "Edit Tutorial";
}
<form asp-controller="Tutorial" asp-action="EditTutorial" method="post" class="mt-3">
    <input hidden asp-for="Id" />
    @*Partial tag helper*@
    <partial name="_TutorialFormFields" model="Model" />
 
</form>