@model TutorialViewModel
@{
    ViewBag.Title = "Edit Tutorial";
}


<div class="row text">
    <div class="col-md-8 offset-2">
        <p><h1>Update tutorial details </h1></p>
        <form asp-controller="Tutorial" asp-action="EditTutorial" method="post" class="mt-3">
            <input hidden asp-for="Id" />
            @*Partial tag helper*@
            <partial name="_TutorialFormFields" model="Model" />

        </form>
    </div>
</div>



