@model IEnumerable<Asp.netCoreMVCIntro.Models.Tutorial>;

@{
    ViewData["Title"] = "Title - Tutorial";
}

<div class="row text">
    <div class="col-md-8 offset-2">
       
        <div class="row text">
            <div class="col-md-8 offset-2">
                <p><h1>Tutorials</h1></p>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    @foreach (var tutorial in Model)
                    {
                        <tr>
                            <td>@tutorial.Name</td>
                            <td>@tutorial.Description</td>
                            <td><a class="text-dark btn btn-outline-success" asp-controller="Tutorial" asp-action="EditTutorial" asp-route-id="@tutorial.Id">Edit</a></td>
                            <td><a class="text-dark btn btn-outline-danger" asp-controller="Tutorial" asp-action="DeleteTutorial" asp-route-id="@tutorial.Id">Delete</a></td>
                        </tr>
                    }
                </table>               
                <a class="text-dark btn btn-outline-success mt-3 float-end" asp-controller="Tutorial" asp-action="CreateTutorial">Add New Tutorial</a>                
            </div>
            
        </div>
    </div>
</div>


