@{
    ViewData["Title"] = "Home Page";
}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Learning made easy</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">We're thrilled that you're here and excited to help you achieve your learning goals. Whether you're looking to improve your skills, gain new knowledge, or explore a new subject, we're confident that you'll find something here that interests you.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 gap-3" asp-controller="Tutorial" asp-action="Index">Tutorials</a>
            <a class="btn btn-outline-secondary btn-lg px-4" asp-controller="Article" asp-action="Index">Articles</a>
        </div>
    </div>
</div>