@model IEnumerable<Tutorial>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" asp-controller="Tutorial" asp-action="Index">
        Tutorials
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
        @foreach (var tutorial in Model)
        {
                <li><a class="dropdown-item">@tutorial.Name</a></li>
        }
    </ul>
</li>